# Ignorar todo por defecto
*

# No ignorar el archivo .gitignore
!.gitignore

# No ignorar las carpetas src en cualquier subdirectorio
!*/src/

# No ignorar los archivos .java dentro de las carpetas src
!*/src/**/*.java

# Ignorar los archivos y carpetas generadas por Eclipse
*.classpath
*.project
*/.settings/
*/bin/

# Ignorar otros archivos temporales o innecesarios
*.log
*.tmp

